{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  Aviliable Jobs
{% endblock title %}
{% block content %}
   <!-- JOB LIST START -->
   <section class="section pt-0">
    <div class="container-fluid ml-5">
      {% include "job/all_joblist/job_message/message.html" %}
      <div class="row justify-content-center">
        {% include "job/all_joblist/job_title/title.html" %}
      </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="card rounded">
              <a data-toggle="collapse" href="#collapseOne" class="job-list" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" id="headingOne">
                  <h6 class="mb-0 text-dark f-18">Date Posted</h6>
                </div>
              </a>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body p-0">
                  {% for job in jobs %}
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                      <label class="custom-control-label ml-1 text-muted" for="customRadio1">{{ job.post_date_time|naturaltime }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="registration-form-box p-4 border rounded">
              <i class="fa fa-list-alt mb-3"></i>
              <form method="get" action="{% url 'job:all_joblist' %}">
                <div class="form-group">
                  <label for="select-category" class="form-label">Categories</label>
                  <select id="select-category" name="category" class="form-control">
                    <option value="">Categories...</option>
                    {% for category in categories %}
                      <option value="{{ category }}" {% if request.GET.category == category %}selected{% endif %}> {{ category }} </option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Filter</button>
              </form>
            </div>
          </div>

            <!-- Location Select -->
            <div class="form-group">
                <label for="select-location" class="form-label">Locations</label>
                <select id="select-location" name="location" class="form-control">
                    <option value="">Locations...</option>
                    {% for location in locations %}
                        <option value="{{ location }}" {% if request.GET.location == location %}selected{% endif %}>
                            {{ location }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Filter Button -->
            <button type="submit" class="btn btn-primary btn-block mt-3">Filter</button>
        </form>
    </div>
</div>


            <div class="col-lg-9 mt-4 pt-2">

                <div class="row">
                    {% for job in jobs %}
                        <div class="col-lg-6 pt-2">
                            <div class="job-list-box border rounded">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col-lg-3">
                                            <div class="company-logo-img">
                                                <img src="{% static 'images/featured-job/img-1.png' %}" alt="" class="img-fluid mx-auto d-block">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-7">
                                            <div class="job-list-desc">
                                                <h6 class="mb-2">
                                                    <a href="{% url 'job:job_details' job.pk %}" class="text-dark">{{ job.title }}</a>
                                                </h6>
                                                <p class="text-muted mb-0">
                                                    <i class="mdi mdi-bank mr-2"></i>{{ job.company }}
                                                </p>
                                                <ul class="list-inline mb-0">
                                                    <li class="list-inline-item mr-3">
                                                        <p class="text-muted mb-0">
                                                            <i class="mdi mdi-map-marker mr-2"></i>{{ job.company.address }}, 
                                                            {{ job.company.province }}, {{ job.company.country }}
                                                        </p>
                                                    </li>
                                                    <br>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted mb-0">
                                                            <i class="mdi mdi-clock-outline mr-2"></i>{{ job.post_date_time|naturaltime }}
                                                        </p>
                                                    </li>
                                                    <br>
                                                    <li class="list-inline-item">
                                                        <p class="text-muted mb-0">
                                                            <i class="mdi mdi-currency-inr mr-2"></i>{{ job.salary|intcomma }} {{ job.pay_mode }}
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="job-list-button-sm text-right">
                                                <span class="badge badge-success">{{ job.job_type }}</span>
                
                                                <div class="mt-3">
                                                    <a href="{% url 'job:apply_for_job' job.pk %}" class="btn btn-sm btn-primary">Apply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                        <!-- Close and start a new row after every two jobs -->
                        </div>
                        <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination job-pagination mb-0 justify-content-center">
                        {% if jobs.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ jobs.previous_page_number }}" tabindex="-1">
                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    <i class="mdi mdi-chevron-double-left f-15"></i>
                                </a>
                            </li>
                        {% endif %}
        
                        {% for num in jobs.paginator.page_range %}
                            {% if jobs.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
        
                        {% if jobs.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ jobs.next_page_number }}">
                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-disabled="true">
                                    <i class="mdi mdi-chevron-double-right f-15"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dropdown = document.getElementById('id_job_location');

            for (var i = 0; i < dropdown.options.length; i++) {
                var options = dropdown.options[i];
                if (option.value === ''){
                    option.text = 'Select Job Location';
                    break;
                }
            }
        });
    </script>
</section>
<!-- JOB LIST START -->
{% endblock content %}