{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block title %}
  {{ job.title }}
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="text-dark mb-3">{{ job.title }}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="job-detail border rounded p-4">
          <div class="job-detail-content">
            <img src="{% static 'images/featured-job/img-4.png' %}" alt="" class="img-fluid float-left mr-md-3 mr-2 mx-auto d-block">
            <div class="job-detail-com-desc overflow-hidden d-block">
              <h4 class="mb-2"><a href="#" class="text-dark">{{ job.title }}</a></h4>
              <p class="text-muted mb-0"><i class="mdi mdi-link-variant mr-2"></i>{{ job.company.name }}</p>
              <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>{{ job.company.address }}, {{ job.company.province }}, {{ job.company.country }}</p>
            </div>
          </div>

          <div class="job-detail-desc mt-4">
            <h5 class="text-dark mt-4">Job Description</h5>
            <p class="text-muted mb-0">{{ job.job_description }}</p>
          </div>
        </div>

        <div class="row align-items-center mt-4">
          <div class="col-lg-12 d-flex justify-content-between">
            <h5 class="text-dark">Key Responsibilities :</h5>
            <a href="{% url 'job:add_jobresponsibility' job.pk %}" class="btn btn-success">Add Responsibilities</a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="job-detail border rounded mt-2 p-4">
              <div class="job-detail-desc">
                {% for responsibility in job.jobresponsibility_set.all %}
                  <div class="job-details-desc-item d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="float-left mr-3">
                        <i class="mdi mdi-send text-primary"></i>
                      </div>
                      <p class="text-muted mb-0">{{ responsibility.name }}</p>
                    </div>
                    <div class="actions">
                      <a href="{% url 'job:delete_jobresponsibility' responsibility.pk %}" class="text-danger">
                        <i class="mdi mdi-delete"></i>
                      </a>
                    </div>
                  </div>
                {% empty %}
                  <p class="text-muted">No responsibilities added yet.</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        

        <div class="row align-items-center mt-4">
          <div class="col-lg-12 d-flex justify-content-between">
            <h5 class="text-dark">Experiences :</h5>
            <a href="{% url 'job:add_jobexperience' job.pk %}" class="btn btn-success">Add Experiences</a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="job-detail border rounded mt-2 p-4">
              <div class="job-detail-desc">
                {% for experience in job.jobexperience_set.all %}
                  <div class="job-details-desc-item d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="float-left mr-3">
                        <i class="mdi mdi-send text-primary"></i>
                      </div>
                      <p class="text-muted mb-0">{{ experience.name }}</p>
                    </div>
                    <div class="actions">
                      <a href="{% url 'job:delete_jobexperience' experience.pk %}" class="text-danger" title="Delete Experience">
                        <i class="mdi mdi-delete"></i>
                      </a>
                    </div>
                  </div>
                {% empty %}
                  <p class="text-muted">No job experiences added yet.</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
              <h4>Other Jobs by {{ job.company.name }}</h4>
            </div>

            <div class="col-lg-12 col-md-7">
              {% with job.company.job_set.all as jobs %}
                {% if jobs.count > 1 %}
                  {% for related_job in jobs %}
                    {% if related_job.pk != job.pk %}
                      <div class="shadow rounded p-4 mt-4">
                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" height="90" class="float-left shadow rounded-pill mr-3">
                        <div class="d-block overflow-hidden">
                          <h6 class="text-muted font-weight-light float-right mb-0"><i class="mdi mdi-clock-outline mr-1"></i>{{ related_job.post_date_time|timesince }}</h6>
                          <h5 class="mb-1"><a href="{% url 'job:job_details' related_job.pk %}" class="text-dark">{{ related_job.title }}</a></h5>
                          <small class="text-muted font-weight-bold">
                            <i class="mdi mdi-bank text-muted"></i>{{ related_job.company.primary_industry }}
                          </small>
                          <small class="text-muted font-weight-bold ml-2">
                            <i class="mdi mdi-timer-sand text-muted"></i>{{ related_job.job_type }}
                          </small>
                          <small class="text-muted font-weight-bold ml-2"><i class="mdi mdi-map-marker mr-2"></i>{{ related_job.company.address }}</small>
                          <small class="text-muted font-weight-bold ml-2"><i class="mdi mdi-currency-inr text-muted"></i>{{ related_job.salary }}</small>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <p class="text-muted">No other jobs available at this time.</p>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-5 mt-4 mt-sm-0">
        <div class="job-detail border rounded p-4">
          <h5 class="text-muted text-center pb-2"><i class="mdi mdi-map-marker mr-2"></i>Location</h5>
          <div class="job-detail-location pt-4 border-top">
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-bank text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.company.name }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-bank text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.company.primary_industry }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-email text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.company.email }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-web text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.company.website }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-cellphone-iphone text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.company.phone_number}}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-view-grid text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.job_category}}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-currency-inr text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.salary }} per {{ job.pay_mode }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-timer-sand text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.job_type }}</p>
            </div>
            <div class="job-details-desc-item">
              <div class="float-left mr-2">
                <i class="mdi mdi-clock-outline text-muted"></i>
              </div>
              <p class="text-muted mb-2">: {{ job.post_date_time|naturaltime }}</p>
            </div>
          </div>
        </div>

        <div class="job-detail border rounded mt-4">
          {% if request.user.is_candidate %}
            <a href="#" class="btn btn-primary btn-block">Apply For Job</a>
          {% else %}
            <a href="{% url 'job:update_job' job.pk %}" class="btn btn-primary btn-block">Update Job Information</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
