{% extends "base.html" %}
{% load static %}
{% block title %}
  Company Detail
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <!-- Button aligned to the right -->
    {% include "company/buttons/company_buttons.html" %}

    <!-- Company Details Section -->
    {% include "company/company_details/top_detail.html" %}
    {% include "company/company_details/bottom_detail.html" %}

    

    <!-- Additional sections like Overview, Services, Reviews, etc. -->
    {% include "company/overview/company_overview.html" %}

    <!-- Job Listings Section -->
    {% include "company/job_listing/job_listing.html" %}
    
  </div>
</section>
{% endblock content %}
