{% extends "base.html" %}
{% block title %}
  Recruiter
{% endblock title %}
{% block content %}

{% if request.user.is_recruiter and not request.user.has_company %}
          <div class="alert alert-warning alert-dismissible fade show mt-2 ml-5" role="alert">
            <p class="mt-3">Add Your Company information to post jobs <a href="{% url 'company:add_company' %}" class="text-danger">Start Now</a> </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 p-2">
  <!-- Card 1 -->
  <div class="col ml-5">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Posted Jobs</h5>
        <p class="card-text">
          All Job List
        </p>
        <a href="{% url 'job:joblist_percompany' %}" class="btn btn-primary">View all</a>
      </div>
      
    </div>
  </div>

  <!-- Card 2 -->
  <div class="col">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Application</h5>
        <p class="card-text">
          All Job Application
        </p>
        <a href="" class="btn btn-primary">View all</a>
      </div>
      
    </div>
  </div>

  <!-- Card 3 -->
  <div class="col">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Shortlisted Resumes</h5>
        <p class="card-text">
          All Shortlisted Resumes
        </p>
        <a href="" class="btn btn-primary">View all</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}